*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Mono', monospace;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header h1{
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p{
  font-size: 20px;
}
.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div{
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1{
  background: #C70039;
}
.pad2{
  background: #FFC300;
}
.pad3{
  background: #AAE018;
}
.pad4{
  background: #18E0CD;
}
.pad5{
  background: #104DDF;
}
.pad6{
  background: #6005B9;
}

.visual >div{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}
body {
  -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
